<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<header>
		<h1>VMS Homepage</h1>
</header>
<div class="w3-container">
  <div align="right" style="position: absolute;top: 156px;left: 1050px;"><b>Welcome User</b><%= material_icon.person%></div>
  
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-black" style="margin-top: 10px; width: 100px">Menu</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <a href="#" class="w3-bar-item w3-button">Edit Profile</a>
      <a href="/associates" class="w3-bar-item w3-button">View Timesheet</a>
      <a href="#" class="w3-bar-item w3-button">Extract Timesheet</a>
      <a href="#" class="w3-bar-item w3-button">All Reports</a>
      <a href="#" class="w3-bar-item w3-button">Work List</a>
      <a href="/" class="w3-bar-item w3-button">Logout</a>
    </div>
  </div>
</div>
<div class="row" style = "background-color: ivory; margin-top: 30px; height: 340px; margin-left: 2px; margin-right: 2px;">
  <div class="column">
    <div id = "action_item"><h5><b>Action Items</b></h5>
    <p>There are no action items to display</p>
    </div>
    <div id = "tips"><h5><b>Tips</b></h5>
    <p>Login with Firefox for enhanced feature</p>
    </div>
  </div>
</div>
</body>